# Database
DATABASE_URL="postgresql://user:password@address:port/database"

# ElasticSearch
ELASTICSEARCH_URL=http://address:port
ELASTICSEARCH_USERNAME=elasticuser
ELASTICSEARCH_PASSWORD=elasticpassword

# Next Auth
NEXTAUTH_URL=http://address:port
AUTH_TRUST_HOST=true
NEXTAUTH_SECRET=

# Resend (para envio de emails)
RESEND_API_KEY=
RESEND_EMAIL="email@example.com.br"

# Next App Url
NEXT_PUBLIC_APP_URL=http://address:port

# Stripe
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# OAuth Google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# OAuth Github
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Cloudflare R2
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_ACCOUNT_ID=
R2_ENDPOINT=
R2_PUBLIC_BUCKET=bucket-public
R2_PRIVATE_BUCKET=bucket-private
R2_PUBLIC_URL=
R2_TOKEN_VALUE=

# Worldo Backend
NEXT_PUBLIC_BACKEND_URL=http://address:port/prefix/prefix2 # Sem / no final
BACKEND_URL=http://address:port/prefix/prefix2/ # Com / no final
BACKEND_JWT_SECRET=
BACKEND_JWT_ALGORITHM=HS256
BACKEND_TOKEN_EXPIRATION=